header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0vw 4vw 0vw 4vw;
}

header .singUp{
    background-color: transparent;
    border: 0;
    
}
header .logIn{
    color: aliceblue;
    background-color: #3366FF;
    padding: 1vw 1.8vw 1vw 1.8vw;
    border: 0;
    border-radius: 0.4rem;
}
header img{
    max-width: 20vh;
}

section.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section.home img{
    max-width: 40vw;
}
section.home h1{
    
}


